{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    {% include 'partials/navbar/navbar.html.twig' %}

    <div class="container">
        <div class="row">
            <div class="col">
                {% for type, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ type }}">{{ message }}</div>
                    {% endfor %}
                {% endfor %}

                {% if products is empty %}
                    <div class="alert alert-danger">No products found.</div>
                {% else %}

                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Index</th>
                                <th scope="col">Category</th>
                                <th scope="col">Edit</th>
                                <th scope="col">Remove</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for product in products %}
                                <tr>
                                    <td>{{ product.getName() }}</td>
                                    <td>{{ product.getProductNumber() }}</td>
                                    <td>{{ product.getCategory().getName() ?? '' }}</td>
                                    <td>
                                        <a href="{{ url('app_product_edit', {'id': product.id}) }}">
                                            <button type="button" class="btn btn-info">Edit</button>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{{ url('app_product_delete', {'id': product.id}) }}">
                                            <button type="button" class="btn btn-danger">Remove</button>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% if 1 < pages %}
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                {% if  page != 1 %}
                                    <li class="page-item"><a class="page-link" href="{{ url('app_home', {'page': page - 1}) }}">Previous</a></li>
                                {% endif %}

                                {% for i in 1..pages %}
                                    <li class="page-item"><a class="page-link" href="{{ url('app_home', {'page': i}) }}">{{ i }}</a></li>
                                {% endfor %}
                                {% if page != pages %}
                                    <li class="page-item"><a class="page-link" href="{{ url('app_home', {'page': page + 1}) }}">Next</a></li>
                                {% endif %}
                            </ul>
                        </nav>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
